<h2 class="indent-header">Log In</h2>

<font color="red"><%= flash[:notice] %></font>
<br><br>

<div class="indent-elements">
  <%= form_for :designer, url: '/login' do |f| %>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
  <br><br>
  
  <%= f.label :password %><br>
  <%= f.password_field :password %>
  <br><br>
  
  <%= f.submit "Log In" %>
  <% end %>
  <br><br>
</div>

<div class="form">
<div id="sign-up" align="center">
  <p>Don't Have An Account?</p>
  <a class="btn btn-info" <%= link_to "Sign Up", new_designer_path %></a><br>

  <p><%= link_to "Return Home", root_path %></p>
</div>
</div>