<h2 class="indent-header">Create A Piece</h2>

<% if @piece.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@piece.errors.count, "error") %>
      prevented this piece from being saved:
    </h3>
    <ul>
    <% @piece.errors.full_messages.each do |msg| %>
      <li><font color="red"><%= msg %></font></li>
    <% end %>
    </ul>
  </div>
<% end %>

<font color="red"><%= flash[:alert] %></font><br>


<%= form_for :piece, url: '/pieces' do |f|  %>
  <label>Medium:</label><br>
  <%= f.text_field :medium %>
  <br><br>

  <label>Style Name:</label><br>
  <%= f.collection_select(:style_id, Style.all, :id, :name, selected: params[:style_id]) %>
  <br><br>

  <label>Comment:</label><br>
  <%= f.text_field :comment %>
  <br><br>
  
  <%= f.submit %>
  <%end%>
  <br><br>

  <p> New Piece <%= link_to "here", new_piece_path %></p>
  <p>If your piece's style is not listed, please add it <%= link_to "here", new_style_path %> first</p>
  <p><%= link_to "Return Home", root_path %></p>



