<h2>Hey <%=@designer.username%>!</h2>
<%= render 'pieces/list' %><br>
  <p><%= link_to "Add style", new_style_path %>
  <p><%= link_to "Add pieces", new_piece_path %>
  <p><%= link_to "Return Home", root_path %></p>
