<div class="indent-elements">
 <%=form_for @style do |f|%>
    <%=f.label :name%>
    <%=f.text_field :name%>
    <br>
    <%=f.label :method%>
    <%=f.text_field :method%>
    <br>
    <%=f.submit%>
 <%end%>
</div>