<h1>New Style</h1>
<% if @style.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@style.errors.count, "error") %>
      prevented this style from being saved:
    </h3>
    <ul>
    <% @style.errors.full_messages.each do |msg| %>
      <li><font color="red"><%= msg %></font></li>
    <% end %>
    </ul>
  </div>
<% end %>

<font color="red"><%= flash[:alert] %></font><br>
<%= render 'form' %>
<p><%= link_to "Return Home", root_path %></p>